body {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: baseline;
    padding: 0px;
    margin-left: 100px ;
    margin-right: 100px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.header-1, .header-2, .header-3 {
    font-size: 16px;
    color: #E5E7EB;
}